.MyScs{
    background-color: #01c0aa;
    color: white;
    margin-top: 10px;
    padding: 10px;
    height: 40px;
    border-radius: 3px;
    border: none;
}

.MyScs:hover {
    background-color: #00A68F;
}

.MyScs:disabled{
    background-color: #ffffff;
    color: #CFD8DC;
}