.MyEdt{
    background-color: #79be03;
    color: white;
    margin-top: 17px;
    margin-bottom: 15px;
    padding: 10px;
    height: 40px;
    width: 66px;
    border-radius: 3px;
    border: none;
}

.MyEdt:hover {
    background-color: #68a400;
}

.MyEdt:disabled{
    background-color: #FF9C1A;
    color: #CFD8DC;
}