.MyDlt{
    background-color: #ff3763;
    color: white;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 12px;
    margin-bottom: 15px;
    padding: 10px;
    height: 40px;
    border-radius: 3px;
    border: none;
}

.MyDlt:hover {
    background-color: #ff2424;
}

.MyDlt:disabled{
    background-color: #FF4A6D;
    color: #CFD8DC;
}