.myBtn{
    background-color: #0091EA;
    color: white;
    margin-left: 5px;
    margin-top: 17px;
    margin-bottom: 15px;
    padding: 10px;
    height: 40px;
    border-radius: 3px;
    border: none;
}

.myBtn:hover {
    background-color: #0081D1;
}

.myBtn:disabled{
    background-color: #04A0FF;
    color: #CFD8DC;
}