.MyNvBr{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #d2d0d0;
}

.MyList{
    display: flex;
}

.MyLink{
    text-decoration: none;
    color: #2d383d;
    font-weight: 500;
    font-size: 18px;
}

.MyLink:hover{
    color: #78909C;
}

.MyList li{
    list-style-type: none;
    margin-left: 24px;
}

.MyLogo{
    width: 120px;
}