.myInpt{
    border-radius: 3px;
    color: #ECEFF1;
    height: 36px;
    width: 250px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 0px;
    border: 1.5px solid #ECEFF1; 
    padding: 10px;
    outline-color: #04A0FF;
}

.myInpt:hover{
    background-color: #f1f3f6;
}

.myInpt:focus{
    caret-color: #04A0FF;
    color: #f1f3f6;
}

.myInpt:valid{
    color: #5d6977;
    border-color: #6e7a81;
}
