.myInpt{
    border-radius: 3px;
    background-color: #f6f1f1;
    height: 43px;
    width: 280px;
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: -5px;
    border: 1.5px solid #ECEFF1; 
    padding: 10px;
    outline-color: #56768c;
}

.myInpt:hover{
    background-color: #f1f3f6;
}

.myInpt:focus{
    caret-color: #e7d2c6;
    color: #f1f3f6;
}

.myInpt:valid{
    color: #989083;
    border-color: #6e7a81;
}
